POSTGRES_USER=root
POSTGRES_PASSWORD=n8n!yyds
POSTGRES_DB=n8n
N8N_ENCRYPTION_KEY=<YOUR ENCRYPTION_KEY>
N8N_USER_MANAGEMENT_JWT_SECRET=<YOUR JWT_SECRET>
N8N_DEFAULT_LOCALE=zh-CN
# 以下两行必须修改
N8N_HOST=n8n.yourdomain.com
WEBHOOK_URL=https://n8n.yourdomain.com